<div class="row">
<div class="slide-video d-flex col-lg-6 col-6">
<iframe src="https://player.vimeo.com/video/368484050?autoplay=1&muted=1&loop=1" height="600" width="1000px" title="Iframe Example"></iframe>
</div>
<div class="col-lg-6 col-6"></div>
</div>